{% extends "base.html" %}
{% block content %}
<h1>Tomo objects list</h1>
<p>Всего объектов: {{ total }}</p>
<div>
    <table class="table">
        {% for tomo_object in tomo_objects %}
            <tr>
                <td>{{ tomo_object['number'] }}</td>
                <td>
                    <a href="{{ url_for('view_tomo_object',to_id=tomo_object['_id']) }}">
                        {{ tomo_object['specimen'] }}
                    </a>
                </td>
                <td>
                    {{ tomo_object['tomo_status'] }}
                </td>
                <td>
                    {#                {% if not tomo_object['tomo_status'] in ['reconstructing'] %}#}
                    {#                <form action='/reconstruct/{{ tomo_object["_id"] }}' method="GET">#}
                    {#                    <button type='submit' name='rec_button'>Reconstruct it</button>#}
                    {#                </form>#}
                    {#                {% else %}#}
                    {#                Reconstruction in process...#}
                    <form action='/reset/{{ tomo_object["_id"] }}' method="GET">
                        <button type='submit' name='reset_button'>Reset status</button>
                    </form>
                    {#                {% endif %}#}
                </td>
                <td>
                    <form action='/copyfiles/{{ tomo_object["_id"] }}' method="GET">
                        <button type='submit' name='copy_button'>Copy files</button>
                    </form>
                </td>
                <td>
                    <a href="http://10.0.7.153:5551/tree/{{ tomo_object['_id'] }}">
                        Manual reconstruction
                    </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <nav>
        <ul class="pagination">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('view_tomo_objects', page=page-1) }}">Назад</a>
            </li>
            {% for p in range(1, total_pages + 1) %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('view_tomo_objects', page=p) }}">{{ p }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('view_tomo_objects', page=page+1) }}">Вперёд</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
