{% extends "base.html" %}
{% block content %}
<h1>Tomo objects list</h1>
<div>
    <table class="table">
        {% for tomo_object in tomo_objects %}
        <tr>
            <td>
                <a href="{{  url_for('view_tomo_object',to_id=tomo_object['_id']) }}">
                    {{ tomo_object['specimen'] }}
                </a>
            </td>
            <td>
                {{tomo_object['tomo_status']}}
            </td>
            <td>
                {% if not tomo_object['tomo_status'] in ['waiting', 'reconstructing'] %}
                <form action='/reconstruct/{{ tomo_object["_id"] }}' method="GET">
                    <button type='submit' name='rec_button'>Reconstruct it</button>
                </form>
                {% else %}
                Reconstruction in process...
                <form action='/reset/{{ tomo_object["_id"] }}' method="GET">
                    <button type='submit' name='reset_button'>Reset status</button>
                </form>
                {% endif %}
            </td>
            <td>
                {% if not tomo_object['tomo_status'] in ['waiting', 'reconstructing'] %}
                <a href="http://10.0.7.153:5551/tree/{{  tomo_object['_id'] }}">
                    Manual reconstruction
                </a>
                {% else %}
                Maual reconstruction not aviable during automatic reconstruction
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}